* { margin: 0; padding: 0; box-sizing: border-box; }
*::before {box-sizing: border-box;}
*::after {box-sizing: border-box;}
body {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
}
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
a { text-decoration: none; color: inherit; }
ul, ol { list-style: none; }

